spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
  
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    password: ${REDIS_PASSWORD}
  
  mail:
    host: ${MAIL_HOST}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

app:
  jwt:
    secret: ${JWT_SECRET}
  
  aws:
    s3:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
      bucket-name: ${AWS_S3_BUCKET}

logging:
  level:
    root: INFO
    com.expensetracker: INFO
    org.springframework: WARN
